/* ==========================
  algemeen
========================== */
html,
body {
  /* height: 100%; */
  margin: 0;
  display: flex;
  flex-direction: column;
}
body {
  background-color: #fafafa;
  overflow-x: hidden;
}

/* ==========================
  nav specifieke stijlen
========================== */
nav {
  background-color: #82959d;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: right;
  padding: 15px 20px;
}

.subnav {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 45px;
}

.subnav a {
  color: white;
  text-decoration: none;
  font-family: "bebas-neue", sans-serif;
  font-weight: 100;
  letter-spacing: 0.25em;
  margin-top: 0;
  font-size: 1.25em;
  padding: 5px 10px;
}

.subnav a:hover {
  color: #fff;
  background-color: #82959d;
  border-radius: 5px;
}

.burger {
  display: none;
}

#burger {
  display: none;
}

@media (max-width: 768px) {
  .burger {
    display: block;
    font-size: 2em;
    color: #82959d;
    cursor: pointer;
    margin-right: 45px;
  }

  .subnav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #ddd2c0;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  #burger:checked ~ .subnav {
    display: flex;
  }

  .subnav a {
    text-align: left;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #82959d;
  }

  .subnav a:last-child {
    border-bottom: none;
  }
}

/* ==========================
  tekst specifieke stijlen
========================== */
h1 {
  font-size: 75px;
  color: #82959d;
  font-family: "bebas-neue", sans-serif;
  font-weight: 400;
  margin: 10px;
  text-align: center;
  margin-top: 100px;
  margin-left: 80px;
}

/* header p {
  font-size: 28px;
  color: #e9d6c3;
  font-family: "great-vibes", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 15px;
} */
h2 {
  font-size: 48px;
  color: #82959d;
  font-family: "bebas-neue", sans-serif;
  font-weight: 400;
  /* margin-left: 15px;
  margin: 15px 15px; */
  letter-spacing: 0.05em;
}

h3 {
  font-size: 24px;
  color: #82959d;
  font-family: sans-serif;
  font-weight: 400;
  margin-left: 15px;
  margin: 15px 15px;
  letter-spacing: 0.05em;
  display: inline;
}
h4 {
  font-size: 48px;
  color: #ddd2c0;
  font-family: sans-serif;
  font-weight: 400;
  margin-left: 15px;
  margin: 50px 0px;
  text-align: center;
  letter-spacing: 0.05em;
}
p {
  font-size: 18px;
  color: #6a7d81;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  /* margin: 15px; */
}

/* ==========================
  detailpagina specifieke stijlen
========================== */
li {
  font-size: 18px;
  color: #6a7d81;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 30px;
}

.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ddd2c0 50%);
  display: inline;
  padding: 0 4px;
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  background-color: #ddd2c0;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: sans-serif;
  color: #6a7d81;
  font-weight: 500;
  /* margin-left: 15px; */
  margin-bottom: 25px;
  border: 1px solid #ddd2c0;
}

/* ==========================
  projecten.html specifieke stijlen
========================== */

.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.project {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 224px;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  height: 225px;
  border-radius: 8px;
}
.project video {
  width: 100%;
  height: 225px;
  border-radius: 8px;
}

.project h3 {
  font-size: 24px;
  color: #2d4059;
  margin-top: 15px;
  margin-left: 0;
  text-align: center;
  color: #82959d;
  font-family: "bebas-neue", sans-serif;
  font-weight: 100;
}

.project p {
  font-size: 15px;
  color: #6d7987;
  margin: 0;
}

/* input {
  border: 1px solid #6a7d81;
} */

.video-detail {
  width: 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.filter-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-family: "bebas-neue", sans-serif;
  font-size: 16px;
  background-color: #82959d;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  letter-spacing: 0.15em;
}

.filter-buttons button:hover {
  background-color: #6a7d81;
}
.filter-buttons a {
  letter-spacing: 0.05em;
}

/* ==========================
  home specifieke stijlen
========================== */
header {
  position: relative;
  height: 35vh;
  overflow: hidden;
}

.welkom-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
}

.welkom_button {
  background-color: #ddd2c0;
  padding: 10px 20px;
  border-radius: 40px;
  color: #6a7d81;
  font-weight: 500;
  font-size: 1.5em;
  text-decoration: none;
  font-family: "bebas-neue", sans-serif;
  letter-spacing: 0.1em;
}

/* .contact_button {
  background-color: #ddd2c0;
  padding: 10px 20px;
  border-radius: 40px;
  color: #6a7d81;
  font-weight: 500;
  font-size: 1.5em;
  text-decoration: none;
  font-family: "bebas-neue", sans-serif;
  letter-spacing: 0.1em;
} */

/* Container styling */
.video-container {
  /* position: relative; */
  width: 100vw;
  /* height: 550px */
  /* margin: 50px auto;  */
  /* border: 5px solid #ddd2c0; */
  /* border-radius: 100%;  */
  overflow-x: hidden; /* Verberg alles buiten het kader */
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); Schaduw voor stijl */
  background-color: #fafafa;
  margin-top: 25px;
  margin-bottom: 50px;
}

.video-container img {
  position: relative;
  width: 50vw;
  /* height: 80vh; */
  /* height: 550px */
  /* margin: 50px auto;  */
  /* border: 5px solid #ddd2c0; */
  /* border-radius: 100%;  */
  overflow: hidden; /* Verberg alles buiten het kader */
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); Schaduw voor stijl */
  background-color: #fafafa;
}
.video-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  /* color: white;
  font-size: 2em; */
}
/* Background video styling */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Zorg dat de video het kader netjes vult */
  z-index: 0;
}

/* Profile image styling */
/* .profile-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  height: auto;
  z-index: 1;


  mask-image: radial-gradient(circle, black 70%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle, black 70%, transparent 100%);
  mask-position: bottom;
  -webkit-mask-position: bottom;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
} */

/* ==========================
  about specifieke stijlen
========================== */

section.about {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px;

  flex-wrap: wrap;
  /* margin-top: 100px; */
}

.profile-photo {
  width: 25%;
  height: auto;
  /* border-radius: 50%; */
}

.about-item {
  max-width: 600px;
  font-size: 1.2em;
  margin-top: 50px;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Grotere ruimte tussen de kaders */
  justify-content: center;
  padding: 20px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Zorgt dat inhoud zich verspreidt binnen het kader */
  width: 400px;
  height: 700px;
  text-align: center;
  border: 1px solid #ddd; /* Optioneel: visueel kader */
  border-radius: 10px; /* Rondere hoeken voor een modernere look */
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.gallery-item img {
  max-width: 100%;
  max-height: 70%; /* Beperk de hoogte tot een percentage van het kader */
  height: auto; /* Behoud de oorspronkelijke verhoudingen */
  display: block;
  border-radius: 8px; /* Rondere hoeken voor afbeeldingen */
}

.bottom-align {
  justify-content: flex-end; /* Foto's uitlijnen aan de onderkant */
}

.top-align {
  justify-content: flex-start; /* Foto's uitlijnen aan de bovenkant */
}

.gallery-item p {
  font-size: 16px; /* Groter lettertype voor betere leesbaarheid */
  color: #6a7d81;
  margin: 10px 0 0 0;
}

@media (max-width: 768px) {
  .gallery-item {
    width: 90%; /* Neem bijna de volledige breedte van het scherm */
    height: auto; /* Laat de hoogte meegroeien met de inhoud */
  }

  .gallery-item img {
    max-height: 50%; /* Beperk de afbeelding op kleinere schermen */
  }
}

/* ==========================
  contact specifieke stijlen
========================== */
label {
  font-size: 18px;
  color: #6a7d81;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 15px;
}
/* Algemene container voor inhoud */
.content-container {
  max-width: 900px; /* Limiteer de breedte voor leesbaarheid */
  margin: 0 auto; /* Centreer de inhoud horizontaal */
  padding: 20px;
  /* display: flex; */
  flex-direction: column;
  gap: 30px; /* Voeg ruimte tussen secties toe */
}

/* Styling voor video */
.video-container {
  width: 100%;
  height: auto;
}

.video-container video {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Voeg afgeronde hoeken toe */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Schaduw voor visuele diepte */
}

/* Responsive aanpassingen */
@media (max-width: 768px) {
  /* h1 {
    font-size: 2em;
  } */

  /* h2 {
    font-size: 1.5em;
  } */

  .content-container {
    padding: 10px;
  }
}

/* ==========================
  footer specifieke stijlen
========================== */
footer {
  text-align: center;
  padding: 3px;
  background-color: #ddd2c0;
  color: white;
  bottom: 0;
  margin-top: 50px;
  position: relative;
}

.footer-welkom {
  background-color: #ddd2c0;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 2;
  text-align: center;
}

@media (max-width: 768px) {
  section.about {
    flex-direction: column;
    text-align: center;
  }

  .profile-photo {
    margin-bottom: 20px;
  }
}

@keyframes waveAnimation {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.wavy-line {
  --s: 50px;
  --b: 5px;
  --m: 1.4;

  background: #ddd2c0;
  --R: calc(var(--s) * sqrt(var(--m) * var(--m) + 1) + var(--b) / 2);
  height: calc(2 * var(--R));
  width: 100%;

  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask: radial-gradient(
        var(--R) at left 50% bottom calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      calc(50% - 2 * var(--s)) calc(50% - var(--s) / 2 - var(--b) / 2) /
      calc(4 * var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(
        var(--R) at left 50% top calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      50% calc(50% + var(--s) / 2 + var(--b) / 2) / calc(4 * var(--s))
      calc(var(--s) + var(--b)) repeat-x;

  animation: waveAnimation 8s linear infinite;
  background-color: #ddd2c0;
}
/* Styling voor scroll-down indicator */
.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
}

.scroll-down span {
  font-size: 2rem;
  color: #2c699a;
  animation: bounce 2s infinite;
}

/* Bounce animatie */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
