body {
  background-color: #fafafa;
  overflow-x: hidden;
}

nav {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.burger {
  font-size: 2.5em;
  margin: 0.5em;
  color: #82959d;
}

#burger {
  display: none;
}

#burger:checked ~ .subnav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 15px;
  background-color: #fafafa;
  background-color: #82959d;
  padding: 10px;
  width: 250px;
}

.subnav {
  display: none;
  z-index: 2;
}

.subnav a {
  text-decoration: none;
  color: #82959d;
  color: #fafafa;
  padding: 0.5em;
  font-family: "bebas-neue", sans-serif;
  font-weight: 100;
  letter-spacing: 0.25em;
}

.subnav a:hover {
  color: #fff;
  background-color: #82959d;
  background-color: #fafafa;
  color: #82959d;
}

h1 {
  font-size: 75px;
  color: #ddd2c0;
  font-family: "bebas-neue", sans-serif;
  font-weight: 400;
  margin: 10px;
  text-align: center;
  margin-top: 50px;
}

/* header p {
  font-size: 28px;
  color: #e9d6c3;
  font-family: "great-vibes", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 15px;
} */
h2 {
  font-size: 48px;
  color: #82959d;
  font-family: "bebas-neue", sans-serif;
  font-weight: 400;
  margin-left: 15px;
  margin: 15px 15px;
  letter-spacing: 0.05em;
}

p {
  font-size: 18px;
  color: #6a7d81;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 15px;
}

li {
  font-size: 18px;
  color: #6a7d81;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 30px;
}

.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ddd2c0 50%);
  display: inline;
  padding: 0 4px;
  margin: 0;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.project {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 170px;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  border-radius: 8px;
}
.project video {
  width: 100%;
  border-radius: 8px;
}

.project h3 {
  font-size: 24px;
  color: #2d4059;
  margin-top: 15px;
  text-align: center;
  color: #82959d;
  font-family: "bebas-neue", sans-serif;
  font-weight: 100;
}

.project p {
  font-size: 15px;
  color: #6d7987;
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  background-color: #ddd2c0;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: sans-serif;
  color: #6a7d81;
  font-weight: 500;
  margin-left: 15px;
}

.video-detail {
  width: 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.filter-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-family: "bebas-neue", sans-serif;
  font-size: 16px;
  background-color: #82959d;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  letter-spacing: 0.15em;
}

.filter-buttons button:hover {
  background-color: #6a7d81;
}
.filter-buttons a {
  letter-spacing: 0.05em;
}

header {
  position: relative;
  height: 35vh;
  overflow: hidden;
}

.welkom-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
}

.welkom_button {
  background-color: #ddd2c0;
  padding: 10px 20px;
  border-radius: 40px;
  color: #6a7d81;
  font-weight: 500;
  font-size: 1.5em;
  text-decoration: none;
  font-family: "bebas-neue", sans-serif;
  letter-spacing: 0.1em;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 2em;
}

section.about {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px;
  background-color: #f4f4f4;
  flex-wrap: wrap;
}

.profile-photo {
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.about-text {
  max-width: 600px;
  font-size: 1.2em;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #ddd2c0;
  color: white;
  bottom: 0;
}

.footer-welkom {
  background-color: #ddd2c0;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 2;
  text-align: center;
}

@media (max-width: 768px) {
  section.about {
    flex-direction: column;
    text-align: center;
  }

  .profile-photo {
    margin-bottom: 20px;
  }
}

@keyframes waveAnimation {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.wavy-line {
  --s: 50px;
  --b: 5px;
  --m: 1.4;

  background: #ddd2c0;
  --R: calc(var(--s) * sqrt(var(--m) * var(--m) + 1) + var(--b) / 2);
  height: calc(2 * var(--R));
  width: 100%;

  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask: radial-gradient(
        var(--R) at left 50% bottom calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      calc(50% - 2 * var(--s)) calc(50% - var(--s) / 2 - var(--b) / 2) /
      calc(4 * var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(
        var(--R) at left 50% top calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      50% calc(50% + var(--s) / 2 + var(--b) / 2) / calc(4 * var(--s))
      calc(var(--s) + var(--b)) repeat-x;

  animation: waveAnimation 8s linear infinite;
  background-color: #ddd2c0;
}
