*{
    box-sizing: border-box;
}
body{
    background-color: #040714;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(../images/original.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 1em;
 
}

.abonnement img{
    width: 175px;
    
}

.inloggen {
    background-color:#0e0d0b;
    text-decoration: none;
    color:white; 
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 1em 0.7em;
    border: 0.01em solid white;
    border-radius: 0.3em;
    display: inline-block;  
    position: absolute;
    right: 15px;
    top: 5px;
}

/* section{
    padding-top: 150px;
} */

.abonnement{
    text-align: center;
    padding-top: 315px;
}

.abonnement h1{
    font-size: 1.5em;
}

.abonnement p {
    color: #bbbbbb;
    margin: 1em;
    line-height: 25px;
}

.abonnement input{
    background-color: #31343e;
    border: none;
    border-radius: 0.3em;
    padding: 1em;
    width: 95%;
    margin-bottom: 0.5em;
}

.abonnement a{
    background-color: #016cf9;
    color: white;
    display: inline-block;
    border-radius: 0.3em;
    padding: 1em;
    width: 95%;
    text-decoration: none;
    text-transform: uppercase;    
}

.metAfbeelding{
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    line-height: 25px;
}

.metAfbeelding h2{
    padding: 0em 0.5em ;
    font-size: 1.6em;
}

.metAfbeelding p{
    padding: 0em 2em;
    color: #c0c0c0;
}

.metAfbeelding img{
    width: 78%;
    position: relative;
    left: 25px;
    margin-bottom: 5em;
}

.metPictogram img{
    width: 90%;
}

.metPictogram{
    text-align: center;
    margin-bottom: 3em;
}

.metPictogram p{
    color: #bbbbbb;
    padding: 0em 1.5em;
}

.metPictogram h3{
    font-size: 1.35em;
}

.veelgesteldeVragen{
  padding-top: 7em;  
  text-align: center;

}

.veelgesteldeVragen p{
    background-color: #13151d;
    width: 90%;
    margin: 0.7em 1.5em;
    padding: 1.7em;
    text-align: left;
}

.apparaten h2{
    text-align: center;
    padding: 4em 1em ;
    padding-bottom: 0em;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}



.apparaten p{
    padding: 0em;
    line-height: 10px;
    color: #bbbbbb;
}

.apparaten img{
    width: 250px;
}

.apparaat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 7em;
        
}

@media (min-width:775px) {
    .inloggen{
        font-size: 1.2em;
        right: 2em;
        padding: 0.7em 1em;
    }

    .abonnement p{
        font-size: 1.2em;
        padding:0em 1.5em;
    }
    
    .abonnement input{
        width: 60%;
        display: inline;
    }

    .abonnement a{
        display: inline;  
    } 
    .pictogram{
        display: flex;
        padding: 0em 1em;
        line-height: 27px;
    }
    .apparaten h2{
        text-align: center;
    }

    .apparaten img{
        width: 150px;
    }


}